
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url('/images/fuji.jpg') no-repeat #000;
  background-size: cover;
  color: #c0cbdb;
}

a {
  color: #00B7FF;
  display: block;
}
