body {
    height: 100vh;
    overflow-y: hidden;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('/images/fuji.jpg') no-repeat #000;
    background-size: cover;
    background-position: center;
    color: #c0cbdb;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="font-size:16px"><text y="18">🔭</text></svg>'), auto;
}

a {
    color: #00B7FF;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="font-size:16px"><text y="18">⭐️</text></svg>'), auto;
}

.section {
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 20px;
    padding: 1em;
    background: rgba(255, 255, 255, 0.1)
}

.links--row {
    display: flex;
    flex-flow: row wrap;
}

.links--row a {
    margin-right: 10px;
}
